<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/donor.css" />
    <title>Donations</title>
  </head>
  <body>
    <header>
      <div class="inner-header">
        <div class="container-header">
          <div class="main-header">
            <div class="bars" id="open">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                />
              </svg>
            </div>
            <div class="logo">
              <a href="#">Ngos</a>
            </div>
            <nav class="list-items active" id="show">
              <ul>
                <li><a href="/homePage">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
        <div class="accordion">
        {%for ngo in ngos%}
          <div class="accordion-item">
            <div class="accordion-item-header">
              <span class="accordion-item-header-title">{{ngo}}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down accordion-item-header-icon">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </div>
            <div class="accordion-item-description-wrapper">
              <div class="accordion-item-description">
                <hr>
                <p><a href="/ngo/{{ngo.replace(" ","-")}}">{{ngo}}</a></p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </main>
    <script src="../static/js/donor.js"></script>
  </body>
</html>
